<div class="col-sm-6 newsletter-label">
    signup &amp; <strong>save $10 off</strong> today’s purchase
</div>
<div class="col-sm-6 newsletter-content">
    <form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail">
        <div class="input-box">
            <input type="text" name="email" id="newsletter" placeholder="Enter Your Email Address" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Sign up for our newsletter')) ?>" class="input-text required-entry validate-email" />
        </div>
        <div class="actions">
            <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Signup Now')) ?>" class="button"><span><?php echo $this->__('Signup Now') ?></span></button>
        </div>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
    //]]>
    </script>
</div>
