body {
    color: #5d6e7a;
    font-family: Merriweather;
    font-size: 14px;
}
.page {
    margin: 0 auto;
    max-width: none;
}
.header {
    margin: 0;
}
.header-container {
    padding: 0;
    border: 3px solid #c3c9cd;
    height: 111px;
}
.header-container > .container {
    margin-bottom: -6px;
}
.header .logo {
    padding: 37px 20px;
    margin-top:-3px;
}
.call-us {
    float: left;
    padding-left: 52px;
    background:url(../images/mapleleafpng.png) top left no-repeat;
    min-height: 50px;
    margin: 29px;
}
.call-us .line1 {
    text-transform:uppercase;
    font-family: Lato;
    font-size: 23px;
    font-weight: 900;
    line-height: 19px;
    color: #263544;
    margin-top: 7px;
}
.call-us .line2 {
    color: #5d6e7a;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    line-height: 19px;
}
.header .quick-access {
    padding: 29px 0 0 0;
}
.header .links {
    border: 1px solid #dedfe1;
    padding: 0 15px;
}
.header .links li {
    padding: 15px 0;
}
.header .links li a:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin-right: 5px;
    color: #c6ccd0;
}
.header .links li:nth-child(1) a:before {
    content:'\f004';
}
.header .links li:nth-child(2) a:before {
    content:'\f007';
}
.header .links li:nth-child(3) a:before {
    content:'\f023';
}
.header .quick-access li a {
    border-right: 1px solid #b1b9bf;
    padding-right: 15px;
    margin: 0 15px 0 0;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    color: #5d6e7a;
}
.header .quick-access li a:hover, .header .quick-access li a:hover:before {
    color: #145c8f;
}
.header .quick-access li.last a {
    border:none;
    padding-right: 0;
    margin-right: 0;

}
.header-container2 {
    background-color: #263544;
}
.nav-container {
    width: 250px;
    float: left;
    background-color: #2c4258;
}
.block-cart-header {
    margin:0;
}
.header-container2 .second-menu {
    float:left;
}
.header-container2 .second-menu li {
    float:left;
}
.header-container2 .second-menu li a {
    color: #a1aeb7;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
    padding: 30px;
    display: block;
}
.header-container2 .second-menu li:first-child a:after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin-left: 5px;
    content:"\f107";
}
.main-container {
    padding: 0;
}
.breadcrumbs-wrapper {
    background-color: #eceeef;
    margin-bottom:50px;
}
.breadcrumbs {
    background: transparent;
    border: none;
    padding: 20px 0;
    margin: 0;
    overflow: hidden;
}
.block-cart-header a {
    color: #fff;
}
.block-cart-header {
    background-color: #e4be4b;
    border: none;
    border-radius: 0;
    padding: 18px 15px;
    text-align: center;
}
.block-cart-header:before {
    content: "\f07a";
    font-size: 23px;
    color: #fff;
    line-height: 1;
    float: none;
    margin: 0 0 2px 0;
    padding: 0;
    display: block;
}
.block-cart-header p, .block-cart-header .empty {
    min-width: 0;
    padding: 0 !important;
    border: 0 !important;
    background: transparent !important;
}
.block-cart-header .summary:before, .block-cart-header .empty:before {
    display:none;
}
.block-cart-header h3 {
    float: none;
    margin: 0;
    color: white;
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
}
.block-cart-header .summary, .block-cart-header .empty {
    border-radius: 0;
    padding: 0;
    border: none;
    background: none;
}
.block-cart-header .cart-content {
    top: 100%;
    min-width: 335px;
    box-shadow: 4.9px 6.3px 0 rgba(16, 35, 49, 0.08);
    border: 2px solid #dedfe1;
    background: #fff;
    border-top: 10px solid #e4be4b;
}
.block-cart-header .mini-products-list li {
    border:none;
    border-bottom: 1px solid #dedfe1;
    background: #fff;
}
.block-cart-header .cart-content .subtotal {
    background: #eff0f2 !important;
    padding: 20px !important;
    color: #263544;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 19px;
}
.block-cart-header .subtotal .label {
    float: left;
    font-size: 18px;
    font-weight: 700;
    line-height: 19px;
    font-family: Lato;
    text-transform: uppercase;
}
.block-cart-header .actions {
    background: #fff;
    padding:0;
}
.block-cart-header .actions button.button {
    margin: 0;
    padding: 0;
    width: 50%;
}
.block-cart-header .actions button.button > span {
    height: 66px;
    border-radius: 4px;
    border: none;
    border-radius: 0;
    padding: 0;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 66px;
    text-transform: uppercase;
    width: 100%;
}
.block-cart-header .actions button.view-cart > span {
    background: #263544;
}
.block-cart-header .actions button.header-checkout > span {
    background: #145c8f;
}
.block-cart-header .cart-content-header {
    padding: 20px;
    background-color: #eff0f2;
    color: #5d6e7a;
    font-family: Lato;
    font-size: 16px;
}
.block-cart-header .product-name {
    width: 70% !important;
    text-align: left;
}
.block-cart-header .product-name a {
    margin-bottom:10px;
    color: #263544;
}
.block-cart-header .product-name div {
    color: #145c8f;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
}
.mini-products-list .product-control-buttons {
    margin-bottom: 0;
    height: 19px;
    margin-top: -19px;
}
.block-cart-header .btn-remove:before {
    content: "\f057";
    color: #145c8f;
    font-size: 20px;
}
.top-search-custom {
    float: right;
    padding: 20px;
    background-color: #145c8f;
    height: 79px;
    color:#fff;
    text-align:center;
    position:relative;
}
.top-search-custom:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    content:"\f002";
    font-size: 24px;
    margin-bottom: 5px;
    display: block;
}
.top-search-custom a {
    color: #fefefe;
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
    display: block;
}
.top-search {
    border: none;
    border-radius: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 844px;
    background: #437da5;
    float: none;
    display: none;
}
.top-search.active {
    display:block;
}
.top-search input.input-text {
    width: 764px;
    float: left;
    border: none;
    border-radius: 0;
    background-color: #437da5;
    height: 80px;
    padding-left: 30px;
    color: #a4c6dd;
    font-family: Merriweather;
    font-size: 16px;
    font-style: italic;
    line-height: 19px;
}
.top-search button.button > span {
    border-radius: 4px;
    height: 80px;
    background: #145c8f;
    width: 80px;
    border: none;
}
.top-search button.button > span .fa {
    font-size: 30px;
    line-height: 80px;
}
.product-essential {
    margin-bottom: 30px;
    border: 2px solid #dedfe1;
    padding: 0;
}
.product-view .product-img-box {
    margin: 30px;
    position: relative;
}
.product-view .product-shop {
    margin:30px 30px 30px 0;
}
.product-view .product-name {
    margin-bottom: 20px;
}
.product-view .product-name h1 {
    color: #263544;
    font-family: Merriweather;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.in-stock-custom, .limited-warranty, .free-shipping, .cad {
    background-position:center center;
    background-repeat:no-repeat;
    display:inline-block;
    height:30px;
    margin-bottom: 20px;
}
.in-stock-custom {
    background-image:url(../images/in-stock.png);
    width: 108px;
}
.limited-warranty {
    background-image:url(../images/warranty.png);
    width: 170px;
}
.free-shipping {
    background-image:url(../images/free-shipping.png);
    width: 151px;
}
.cad {
    background-image:url(../images/cad.png);
    width: 69px;
}
.product-view h2 {
    padding: 10px 0;
    margin-bottom: 30px;
    color: #263544;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 19px;
    text-transform: uppercase;
    background: #fff;
    border: none;
    border-bottom: 6px solid #eeeeef;
    border-radius: 0;
}
.product-view .product-img-box .product-image {
    width:100%;
    height:498px;
    border: 1px solid #dedfe1;
    border-radius: 0;
    margin-bottom: 20px;
}
.product-view .product-img-box .more-views li a {
    border: 2px solid #dedfe1;
    border-radius: 0;
}
.product-view .product-img-box .zoom-notice, .product-view .product-img-box .zoom {
    display:none;
}
.image-badge {
    background:url('../images/image-badge.png') top left no-repeat;
    width:207px;
    height:76px;
    position: absolute;
    top: 30px;
    left: -18px;
    z-index: 9;
}
/* Product Tabs */
.product-tabs { 
    border-bottom: 6px solid #eeeeef;
    margin-bottom: 30px;
}
.product-tabs li { 
    float:left; 
    margin-right: 30px;
    margin-bottom: -6px;
}
.product-tabs a { 
    display:block;
    padding:20px 0; 
    color: #263544;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 300;
    line-height: 19px;
    text-transform: uppercase;
}
.product-tabs a:hover,
.product-tabs li.active a,
.product-tabs li.active a:hover {
    border-bottom: 6px solid #145c8f;
    font-weight:bold;
}
.product-tabs-content h2 {
    display:none;
}
.data-table td, .data-table th {
    border: 2px solid #dedfe1;
    font-size: 16px !important;
    font-weight: 700 !important;
    line-height: 22px !important;
    padding:20px;
}
.data-table td {
    font-style: italic !important;
    font-weight:normal !important;
}
.data-table tr.even {
    background-color: #f5f6f7;
}
.container-slider {
    max-height: none;
}
.container-slider li {
    width: 125px;
}
.container-slider .slider {
    margin-left: 0;
}
.row-product {
    border-top: 3px solid #dedfe1;
    border-bottom: 3px solid #dedfe1;
    padding: 18px 0;
}
.product-view .short-description {
    margin-bottom: 30px;
}
.product-view .short-description h2 {
    display: block;
    color: #263544;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
    border: none;
    margin: 40px 0 10px;
    padding: 0;
}
.sku {
    padding-left: 15px;
    border-left: 1px solid #c6ccd0;
}
.row-product .no-rating a {
    text-decoration: none;
}
.product-view .product-shop .price-box {
    display: block;
    margin:0;
    padding:0;
    text-transform: uppercase;
    font-family: Montserrat;
}
.price-box .price {
    line-height: 1;
    display: inline-block;
}
.special-price {
    float:left;
    margin-right: 10px;
}
.reg-prices {
    float:left;
    padding-top: 3px;
}
.special-price .price {
    color: #e4be4b;
    font-size: 48px;
    font-weight: 700;
}
.old-price .price-label {
    display:inline;
    color: #5d6e7a;
    font-size: 18px;
    font-weight: 400;
    text-decoration: line-through;
}
.old-price .price {
    color: #5d6e7a;
    font-size: 18px;
    font-weight: 400;
    text-decoration: line-through;
    text-transform: uppercase;
}
.sugg-price .price-label, .sugg-price .price {
    color: #5d6e7a;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}
.product-view .product-shop .brand-logo {
    float: right;
    padding: 5px 0;    
}
.product-view .product-shop .add-to-box {
    margin: 30px 0;
}
.add-to-cart {
    border:none;
}
.add-to-box .add-to-cart {
    width: auto;
    padding: 0;
}
.add-to-cart label {
    font-family: Merriweather;
    font-size: 16px;
    font-weight: 700;
    line-height: 66px;
    height: 66px;
    margin-bottom: 0;
    border: 2px solid #dedfe1;
    text-transform:uppercase;
    padding: 0 20px;
    margin: 0;
}
.add-to-cart .qty {
    text-align: center;
    width: 84px !important;
    height: 66px;
    vertical-align: top;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    color: #5d6e7a;
    background-color: #f5f6f7;
    border: 2px solid #dedfe1;
    border-radius: 0;
    border-left: none;
}
.add-to-cart button.button {
    float: left;
    margin-left: 10px;
}
.add-to-cart button.button > span:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    content: "\f07a";
    margin-right: 15px;
    font-size: 14pt;
}
.add-to-cart button.button > span {
    background: #145c8f;
    border: 2px solid #145c8f;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    border-radius: 0;
    text-transform: uppercase;
    line-height: 66px;
    height: 66px;
    padding: 0 25px;
}
.product-view .add-to-links {
    width: 64px;
    border: none;
    float: left;
    padding: 0;
    text-align:center;
}
.product-view .add-to-links .link-wishlist {
    display: block;
    height: 66px;
    width: 64px;
    background-color: #437da5;
}
.product-view .add-to-links .link-wishlist:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    content:"\f004";
    color:#fff;
    line-height: 66px;
    font-size: 16pt;
}
.suitable-for {
    
}
.suitable-for li {
    font-family: Merriweather;
    font-size: 14px;
    font-weight: 700;
    float:left;
    margin-right: 15px;
}
.suitable-for li:first-child {
    font-family: Merriweather;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}
.suitable-for li:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    content:"\f058";
    margin-right: 5px;
    font-size: 14pt;
    vertical-align: middle;
    color: #c6ccd0;
}
.suitable-for li:first-child:before {
    display:none;
}
.product-banners {
    margin-bottom:50px;
}
.free-gift-badge {
    background:url(../images/free-gift-badge.png) top left no-repeat;
    width: 109px;
    height: 109px;
    position: absolute;
    top: -10px;
    left: 6px;
}
.top-footer-container {
    background-color: #145c8f;
}
.top-footer-container .newsletter-label {
    font-size: 24px;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
    color:#fff;
    font-family: Montserrat;
    padding-top:50px;
    padding-bottom:50px;
}
.top-footer-container .newsletter-label strong {
    color: #e4be4b;
}
.top-footer-container .newsletter-content form {
    float: right;
}
.top-footer-container .newsletter-content .input-box, .top-footer-container .newsletter-content .actions {
    float: left;
}
.top-footer-container .newsletter-content .input-box {
    width:370px;
}
.top-footer-container .newsletter-content input.input-text {
    height: 65px;
    background-color: #437da5;
    border: none;
    border-radius: 0;
    width: 100%;
    margin: 30px 0;
    padding-left: 30px;
    font-size: 16px;
    font-style: italic;
    line-height: 32px;
}
.top-footer-container .newsletter-content button.button span {
    background: #e4be4b;
    border: none;
    color: white;
    text-transform: uppercase;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    height: 65px;
    border-radius: 0;
    margin: 30px 0;
    line-height: 65px;
    padding: 0 30px;
}
.top-footer-container .newsletter-content button.button span:after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    content:"\f0da";
    margin-left: 5px;
}
.footer-container {
    background-color: #263544;
    border-radius: 0;
    padding: 90px 0;
}
.footer-col.last {
    width: 19%;
}
.footer-col.first {
    width: 26%;
}
.footer h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom:25px;
    font-family: Montserrat;
}
.footer ul li a {
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    color: #889caa;
}
.footer ul li a:hover {
    color: #e4be4b;
}
.footer-col.last p {
    font-weight: 400;
    line-height: 18px;
    margin-bottom:25px;
    font-size: 14px;
    color: #889caa;
}
.footer-col.last .fa {
    float: left;
    margin: 0 20px 20px 0;
    color: #e4be4b;
    font-size:18px;
}
.footer-col.first p {
    color: #e4be4b;
    font-family: Merriweather;
    font-size: 14px;
    font-style: italic;
    line-height: 19px;
    padding-bottom: 17px;
    border-bottom: 1px solid #4f5d67;
    display: inline-block;
    margin-bottom: 24px;
}
.footer-col .social-icons a {
    font-size:24px;
    color: #889caa;
    margin-right: 16px;
}
.footer-col .social-icons a:hover {
    color: #e4be4b;
}
.bottom-footer-container {
    background-color: #1f2b37;
}
.bottom-footer-container address {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    color: #889caa;
    margin-top: 30px;
}
.bottom-footer-container img {
    margin:25px 0;
}